#load-animation{
    
    position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #42a5f5;
     z-index: 99;
     height: 100%;
    background-image: url(../pics/sys/logo-32.png);
    background-repeat:no-repeat;
    background-position: center center;
}

.progress .indeterminate {
  background-color: #42a5f5;
}